header {
   display: flex;
   align-items: center;
   padding: 20px 0;
   background-color: var(--background);
   color: white;
   font-size: 22px;
}
.btn-navigate {
   margin-left: auto;
   font-size: 16px;
   color: white;
}
.header-content {
   display: flex;
   align-items: center;
   justify-content: space-between;
}