.product-image {
   width: 200px;
   height: 200px;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   display: flex;
}
.product {
   overflow: hidden;
   display: flex;
   gap: 30px;
   transition: all 0.3s;
   padding: 10px;
}
.product-content h4 {
   margin-top: 0;
   margin-bottom: 15px;
   font-size: 20px;
   transition: all 0.3s;
}
.product-description {
   font-size: 18px;
   margin-bottom: auto;
   margin-bottom: 15px;
}
.product-content {
   display: flex;
   flex-direction: column;
   padding: 20px 0;
}
.product-price__wrapper {
   display: flex;
   align-items: center;
   justify-content: end;
}
.product-price {
   white-space: nowrap;
   font-size: 20px;
   font-weight: 600;
}
.product:hover .product-content h4{
   color: var(--site-accept-color);
   transition: all 0.3s;
}
.product:hover {
   -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
   box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
   transition: all 0.3s;
}
.picture {
   display: block;
   height: 100%;
   transition:all 0.3s;
   z-index: 2;
   position: relative;
   padding: 0 5px;
}
.picture::after{
   content: '';
   width: calc(100% - 10px);
   height: 4px;
   border-radius: 4px;
   background-color: rgba(128, 128, 128, 0.5);
   display: block;
   z-index: 4;
   position: absolute;
   bottom: 0;
   left: 5px;
}
.picture.active::after {
   background-color: var(--site-accept-color);
}
.picture img {
   z-index: -1;
}
.img {
   opacity: 0;
   transition:all 0.3s;
}
.img.active{
   opacity: 1;
   transition:all 0.3s;
}

@media (max-width:767px) {
   .product {
      flex-direction: column;
      width: calc(50% - 25px);
      -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
   } 
   .product-image {
      margin: 0 auto;
      width: calc(100% - 20px);
   }
   .product-content {
      padding-top: 0;
   }
   .product-content h4 {
      font-size: 16px;
   }
   .product-description {
      font-size: 14px;
   }
   .catalog-list {
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 0;
   }
   .catalog-page__title {
      font-size: 24px;
   }
   .picture {
      display: none;
   }
}
@media (max-width:500px) {
   .product-image {
      height: 150px;
   }
}